.headers {

    display: inline;

}
.buttons {
    margin-left: 50% ;
    float: inherit;
}
.filter {
    float: inherit;
}
.table-nav {

    margin-top: 2%;
}
.table-container {
    padding-top: 5%;

}